nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: black;
  font-family: "Klee One", cursive;
  font-size: 1.25rem;
}

img {
  height: 8rem;
}

button {
  border: none;
  font-family: "Klee One", cursive;
}

.button {
  width: 7rem;
  padding: 0.3rem;
  align-items: center;
  border-radius: 1.15856rem;
  background: #35a402;
  color: #fff;
  font-size: 1rem;
  border: 0;
}
