@import url("https://fonts.googleapis.com/css2?family=Klee+One&display=swap");

.container {
  display: flex;
  flex-direction: column;
  padding: 6.9375rem 2.125rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: black;
  font-family: "Klee One", cursive;
  font-size: 1.25rem;
}

img {
  height: 8rem;
}

button {
  width: 7.5rem;
  padding: 0.20263rem;
  align-items: center;
  border-radius: 1.15856rem;
  background: #84988a;
  color: #fff;
  font-family: "Klee One", cursive;
  font-size: 0.83419rem;
  border: 0;
}
