#map {
  width: 100vw;
  height: 100vh;
}

.map-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.map-wrap .navbar {
  width: 100vw;
  padding: 1.25rem;
  background: #bff4a7;
  position: absolute;
  z-index: 3;
  height: 6.7rem;
}

.countdown {
  width: 100vw;
  padding: 1.25rem;
  text-align: center;
  position: absolute;
  z-index: 4;
}

.doodle-refresh-time {
  font-size: 2rem;
  font-weight: 400;
}
