.drawing-area {
  height: 40rem;
  width: 40rem;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  width: 30rem;
  height: 30rem;
  position: relative;
  border: solid red 1px;
}

.board canvas {
  width: 100%;
  height: 100%;
  display: block;
}
